main {
  font-family: Arial, Helvetica, sans-serif;
}

.bloco {
  color: white;
  width: 280px;
  margin: 10px;
  padding-left: 8px;
}

#bloco-1 {
  background-color: orange;
  border: 4px solid rgb(235, 195, 122);
  box-shadow: 3px 3px 3px 3px rgb(139, 137, 137);
  border-radius: 4px;
}

#bloco-2 {
  background-color: rgb(8, 150, 8);
  border: 4px solid rgb(181, 226, 181);
  box-shadow: 3px 3px 3px 3px rgb(139, 137, 137);
  border-radius: 4px;
}

#bloco-3 {
  background-color: darkgreen;
  border: 4px dashed lightgreen;
  box-shadow: 3px 3px 3px 3px rgb(139, 137, 137);
  border-radius: 4px;
}

#bloco-4 {
  background-color: rgb(218, 11, 11);
  border: 4px dashed rgb(231, 109, 109);
  box-shadow: 3px 3px 3px 3px rgb(139, 137, 137);
  border-radius: 4px;
}
